In [34]:
# 기본
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import matplotlib
from matplotlib import font_manager, rc
import platform
from tqdm import tqdm
import sklearn
from sklearn import linear_model
import scipy.stats as stats
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.outliers_influence import variance_inflation_factor
from patsy import dmatrices
from sklearn.model_selection import train_test_split

# time
import datetime

# crawling
import requests
import lxml.html
import sqlite3
from pandas.io import sql
from bs4 import BeautifulSoup

# 한글 폰트 설정
if platform.system() == 'Windows':
# 윈도우인 경우
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)

In [35]:
final = pd.read_csv('C:\\Users\\user\\BFM\\MME_.csv', encoding = 'euc-kr', low_memory = True)
final

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,PHYACTM,PHYACTH,BODYFAT,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,3.50,1.75,13400.0,2571.0,2,96.0,63.0,78.564168,19.349962,2
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,5.50,0.00,15700.0,2409.0,2,95.0,68.0,92.420166,24.350452,5
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,0.00,4.50,NaN,2407.5,2,138.0,69.0,86.839489,18.115004,1
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,0.75,0.75,14700.0,886.5,2,102.0,74.0,102.784214,22.138368,1
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,5.50,0.00,19500.0,2409.0,2,131.0,84.0,112.380813,28.899599,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70205,A07,201303.0,NIH1604999643,55.0,2,1.641,60.9,74.0,88.0,NaN,...,NaN,NaN,17900.0,NaN,0,92.0,62.0,74.201919,22.615184,1
70206,A07,201407.0,NIH1604999732,75.0,1,1.632,50.8,81.3,110.0,NaN,...,NaN,NaN,10500.0,NaN,0,131.0,66.0,68.312024,19.073193,3
70207,A07,201409.0,NIH1604999772,55.0,1,1.635,66.2,88.3,85.0,NaN,...,NaN,NaN,13900.0,NaN,0,NaN,NaN,50.048887,24.764096,2
70208,A07,201403.0,NIH1604999929,53.0,2,1.530,63.2,85.3,95.0,NaN,...,NaN,NaN,27100.0,NaN,0,112.0,71.0,74.230720,26.998163,2
70209,A07,NaN,NIH1604999956,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0

In [36]:
final = final.loc[final['기수'] == 'A01']
final

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,PHYACTM,PHYACTH,BODYFAT,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,3.50,1.75,13400.0,2571.0,2,96.0,63.0,78.564168,19.349962,2
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,5.50,0.00,15700.0,2409.0,2,95.0,68.0,92.420166,24.350452,5
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,0.00,4.50,NaN,2407.5,2,138.0,69.0,86.839489,18.115004,1
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,0.75,0.75,14700.0,886.5,2,102.0,74.0,102.784214,22.138368,1
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,5.50,0.00,19500.0,2409.0,2,131.0,84.0,112.380813,28.899599,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10025,A01,200109.0,NIH1604999643,43.0,2,1.644,61.0,71.3,85.0,8.0,...,2.50,0.00,16200.0,1689.0,2,99.0,71.0,90.587425,22.569722,1
10026,A01,200203.0,NIH1604999732,63.0,1,1.650,56.0,82.5,133.0,436.0,...,0.00,5.50,NaN,2788.5,2,140.0,98.0,95.070429,20.569330,3
10027,A01,200301.0,NIH1604999772,44.0,1,1.640,68.5,83.0,91.0,115.0,...,0.00,0.00,17200.0,495.0,1,128.0,94.0,81.212239,25.468471,5
10028,A01,200206.0,NIH1604999929,41.0,2,1.540,59.0,74.7,90.0,14.0,...,0.00,0.00,18100.0,693.0,2,102.0,74.0,107.964675,24.877720,2
10029,A01,200301.0,NIH1604999956,43.0,1,1.760,79.5,88.0,101.0,95.0,...,0.00,0.00,20900.0,346.5,1,127.0,83.0,104.240575,25.665031,4

In [37]:
dm = pd.read_csv('C:\\Users\\user\\BFM\\DRUGDM_drug90.csv', encoding = 'euc-kr')
dm

,기수,NIHID,EDATE_DAY,DRUGDM,DRUGDMYR1,DRUGDMCU,DRUGDMYR2,EDATE-StartDate,EndDate-StartDate,drug_90
0,A01,NIH1604000472,2002-01-15,2.0,1993-11-01,2.0,NaN,2997 days,NaN,1
1,A01,NIH1604008153,2001-11-15,2.0,1998-10-01,2.0,NaN,1141 days,NaN,1
2,A01,NIH1604009342,2001-07-15,2.0,1997-07-01,2.0,NaN,1475 days,NaN,1
3,A01,NIH1604011192,2002-01-15,2.0,1996-01-01,2.0,NaN,2206 days,NaN,1
4,A01,NIH1604012038,2001-10-15,2.0,1994-01-01,2.0,NaN,2844 days,NaN,1
...,...,...,...,...,...,...,...,...,...,...
3911,A07,NIH1604992345,2014-11-15,2.0,2011-01-01,2.0,NaN,1414 days,NaN,1
3912,A07,NIH1604995385,2013-05-15,2.0,2011-05-01,2.0,NaN,745 days,NaN,1
3913,A07,NIH1604998140,2014-04-15,2.0,2013-03-01,2.0,NaN,410 days,NaN,1
3914,A07,NIH1604998438,2014-09-15,2.0,2009-01-01,2.0,NaN,2083 days,NaN,1
3915,A07,NIH1604999401,2014-08-15,2.0,2000-01-01,2.0,NaN,5340 days,NaN,1

In [38]:
ckd = pd.read_csv('C:\\Users\\user\\BFM\\CKD_final_Baseline1st+OccuredTwiceOrMoreInARow.csv', encoding = 'euc-kr')
ckd

               NIHID  final_CKD
0      NIH1604000095          1
1      NIH1604000171          0
2      NIH1604000338          1
3      NIH1604000362          0
4      NIH1604000424          0
...              ...        ...
10025  NIH1604999643          0
10026  NIH1604999732          0
10027  NIH1604999772          1
10028  NIH1604999929          0
10029  NIH1604999956          0

[10030 rows x 2 columns]

In [39]:
# 1기만 뽑기
dm = dm.loc[dm['기수'] == 'A01']
dm

,기수,NIHID,EDATE_DAY,DRUGDM,DRUGDMYR1,DRUGDMCU,DRUGDMYR2,EDATE-StartDate,EndDate-StartDate,drug_90
0,A01,NIH1604000472,2002-01-15,2.0,1993-11-01,2.0,NaN,2997 days,NaN,1
1,A01,NIH1604008153,2001-11-15,2.0,1998-10-01,2.0,NaN,1141 days,NaN,1
2,A01,NIH1604009342,2001-07-15,2.0,1997-07-01,2.0,NaN,1475 days,NaN,1
3,A01,NIH1604011192,2002-01-15,2.0,1996-01-01,2.0,NaN,2206 days,NaN,1
4,A01,NIH1604012038,2001-10-15,2.0,1994-01-01,2.0,NaN,2844 days,NaN,1
...,...,...,...,...,...,...,...,...,...,...
342,A01,NIH1604994969,2002-03-15,2.0,1999-12-01,2.0,NaN,835 days,NaN,1
343,A01,NIH1604995150,2002-06-15,2.0,2001-04-01,2.0,NaN,440 days,NaN,1
344,A01,NIH1604996053,2001-11-15,2.0,2001-07-01,2.0,NaN,137 days,NaN,1
345,A01,NIH1604999274,2002-07-15,2.0,1999-11-01,1.0,2000-08-01,NaN,274 days,1
346,A01,NIH1604999401,2002-09-15,2.0,1996-01-01,2.0,NaN,2449 days,NaN,1

In [40]:
dm = dm[['NIHID', 'drug_90']]

In [41]:
len(dm['NIHID'].unique())

347

In [42]:
dm_psm = pd.merge(final, dm, how = 'left', on = 'NIHID')

In [43]:
dm_psm

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,PHYACTH,BODYFAT,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW,drug_90
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,1.75,13400.0,2571.0,2,96.0,63.0,78.564168,19.349962,2,NaN
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,0.00,15700.0,2409.0,2,95.0,68.0,92.420166,24.350452,5,NaN
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,4.50,NaN,2407.5,2,138.0,69.0,86.839489,18.115004,1,NaN
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,0.75,14700.0,886.5,2,102.0,74.0,102.784214,22.138368,1,NaN
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,0.00,19500.0,2409.0,2,131.0,84.0,112.380813,28.899599,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10025,A01,200109.0,NIH1604999643,43.0,2,1.644,61.0,71.3,85.0,8.0,...,0.00,16200.0,1689.0,2,99.0,71.0,90.587425,22.569722,1,NaN
10026,A01,200203.0,NIH1604999732,63.0,1,1.650,56.0,82.5,133.0,436.0,...,5.50,NaN,2788.5,2,140.0,98.0,95.070429,20.569330,3,NaN
10027,A01,200301.0,NIH1604999772,44.0,1,1.640,68.5,83.0,91.0,115.0,...,0.00,17200.0,495.0,1,128.0,94.0,81.212239,25.468471,5,NaN
10028,A01,200206.0,NIH1604999929,41.0,2,1.540,59.0,74.7,90.0,14.0,...,0.00,18100.0,693.0,2,102.0,74.0,107.964675,24.877720,2,NaN
10029,A01,200301.0,NIH1604999956,43.0,1,1.760,79.5,88.0,101.0,95.0,...,0.00,20900.0,346.5,1,127.0,83.0,104.240575,25.665031,4,NaN

In [44]:
dm_psm['drug_90'].isna().sum()

9683

In [45]:
dm_psm = pd.merge(dm_psm, ckd, how = 'left', on = 'NIHID')
dm_psm

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,BODYFAT,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW,drug_90,final_CKD
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,13400.0,2571.0,2,96.0,63.0,78.564168,19.349962,2,NaN,1
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,15700.0,2409.0,2,95.0,68.0,92.420166,24.350452,5,NaN,0
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,NaN,2407.5,2,138.0,69.0,86.839489,18.115004,1,NaN,1
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,14700.0,886.5,2,102.0,74.0,102.784214,22.138368,1,NaN,0
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,19500.0,2409.0,2,131.0,84.0,112.380813,28.899599,4,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10025,A01,200109.0,NIH1604999643,43.0,2,1.644,61.0,71.3,85.0,8.0,...,16200.0,1689.0,2,99.0,71.0,90.587425,22.569722,1,NaN,0
10026,A01,200203.0,NIH1604999732,63.0,1,1.650,56.0,82.5,133.0,436.0,...,NaN,2788.5,2,140.0,98.0,95.070429,20.569330,3,NaN,0
10027,A01,200301.0,NIH1604999772,44.0,1,1.640,68.5,83.0,91.0,115.0,...,17200.0,495.0,1,128.0,94.0,81.212239,25.468471,5,NaN,1
10028,A01,200206.0,NIH1604999929,41.0,2,1.540,59.0,74.7,90.0,14.0,...,18100.0,693.0,2,102.0,74.0,107.964675,24.877720,2,NaN,0
10029,A01,200301.0,NIH1604999956,43.0,1,1.760,79.5,88.0,101.0,95.0,...,20900.0,346.5,1,127.0,83.0,104.240575,25.665031,4,NaN,0

In [46]:
# 90일 미만으로 복용한 사람은 아예 복용하지 않은 사람과 동일하게 취급

dm_psm['drug_90'].fillna(0, inplace = True)

In [47]:
dm_psm['drug_90'].value_counts()

0.0    9707
1.0     323
Name: drug_90, dtype: int64

In [48]:
dm_psm.rename(columns = {'drug_90' : 'dm_drug_90'}, inplace = True)
dm_psm

,기수,EDATE,NIHID,AGE,SEX,HEIGHT,WEIGHT,WAIST,GLU0_ORI,R_GTP_TR,...,BODYFAT,MET_CAL,PA_NEW,SBP,DBP,eGFR,BMI,DRK_NEW,dm_drug_90,final_CKD
0,A01,200209.0,NIH1604000095,43.0,2,1.575,48.0,63.0,91.0,16.0,...,13400.0,2571.0,2,96.0,63.0,78.564168,19.349962,2,0.0,1
1,A01,200201.0,NIH1604000171,42.0,1,1.755,75.0,81.3,88.0,27.0,...,15700.0,2409.0,2,95.0,68.0,92.420166,24.350452,5,0.0,0
2,A01,200210.0,NIH1604000338,69.0,1,1.668,50.4,74.0,82.0,52.0,...,NaN,2407.5,2,138.0,69.0,86.839489,18.115004,1,0.0,1
3,A01,200201.0,NIH1604000362,48.0,2,1.556,53.6,76.4,110.0,38.0,...,14700.0,886.5,2,102.0,74.0,102.784214,22.138368,1,0.0,0
4,A01,200205.0,NIH1604000424,47.0,1,1.745,88.0,94.5,81.0,5.0,...,19500.0,2409.0,2,131.0,84.0,112.380813,28.899599,4,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10025,A01,200109.0,NIH1604999643,43.0,2,1.644,61.0,71.3,85.0,8.0,...,16200.0,1689.0,2,99.0,71.0,90.587425,22.569722,1,0.0,0
10026,A01,200203.0,NIH1604999732,63.0,1,1.650,56.0,82.5,133.0,436.0,...,NaN,2788.5,2,140.0,98.0,95.070429,20.569330,3,0.0,0
10027,A01,200301.0,NIH1604999772,44.0,1,1.640,68.5,83.0,91.0,115.0,...,17200.0,495.0,1,128.0,94.0,81.212239,25.468471,5,0.0,1
10028,A01,200206.0,NIH1604999929,41.0,2,1.540,59.0,74.7,90.0,14.0,...,18100.0,693.0,2,102.0,74.0,107.964675,24.877720,2,0.0,0
10029,A01,200301.0,NIH1604999956,43.0,1,1.760,79.5,88.0,101.0,95.0,...,20900.0,346.5,1,127.0,83.0,104.240575,25.665031,4,0.0,0

In [49]:
na_list = []
for col in dm_psm.columns: 
    if dm_psm[col].isna().sum() > 2000: 
        na_list.append(col)

In [50]:
na_list

['TREATD5', 'TREATD14', 'KIDAG', 'KIDCU', 'BODYFAT']

In [51]:
dm_psm.drop(na_list, axis = 1, inplace = True)

In [52]:
for col in dm_psm.columns: 
    print(col, dm_psm[col].isna().sum())

기수 0
EDATE 0
NIHID 0
AGE 0
SEX 0
HEIGHT 0
WEIGHT 5
WAIST 8
GLU0_ORI 299
R_GTP_TR 2
AST_ORI 2
ALT_ORI 5
TCHL_ORI 2
HDL_ORI 2
TRIGLY_ORI 3
HB_ORI 2
SMOKE 134
DRUGINS 585
DRUGHT 585
DRUGICD 585
DRUGLP 585
FMHTN 0
FMHEA 0
FMDM 0
PRT16_U 37
KID 4
TOTALC 306
PHYACTL 222
PHYACTM 297
PHYACTH 243
MET_CAL 385
PA_NEW 0
SBP 19
DBP 19
eGFR 2
BMI 5
DRK_NEW 0
dm_drug_90 0
final_CKD 0

In [53]:
dm_psm.dropna(inplace = True, axis = 0)
dm_psm.reset_index(drop = True, inplace = True)

In [54]:
dm_psm['dm_drug_90'].value_counts()

0.0    8152
1.0     219
Name: dm_drug_90, dtype: int64

In [55]:
dm_psm.to_csv('DM_psm.csv', encoding = 'euc-kr', index = False)